* {
  padding: 0;
  margin: 0;
}
body {
  margin: 5px 10px 5px 10px;
}
nav > img {
  position: relative;
  width: 150px;
}
.navbar {
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: left;
}
a {
  padding: 5px;
  color: white;
  text-decoration: inherit;
}
.navbar a:hover {
  text-decoration: underline;
  color: brown;
}
nav .image {
  width: 100%;
}

.section {
  display: flex;
  margin-top: 20px;
}
.left-side {
  width: 400px;
  padding: 10px;
  background-color: brown;
  position: absolute;
}
.left-side h3 {
  padding: 8px;
  background-color: whitesmoke;
}
.left-side p {
  margin: 10px 10px 10px 10px;
  color: white;
  line-height: 1.5em;
}
.last p {
  line-height: 1em;
}
.last-position {
  margin-bottom: 15px;
}
.list ul {
  /* margin-left: 25px; */
  color: white;
  margin: 5px 5px 5px 25px;
  line-height: 2em;
}
.right-side {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
  left: 28%;
  width: 70%;
}
.Welcome {
  display: flex;
  margin: 5px 10px 5px 0px;
}
.Welcome p {
  margin-top: 5px;
}
.right-side img {
  width: 200px;
  height: 100px;
  margin: 10px 10px 5px 5px;
  position: relative;
}
div > section > p {
  color: brown;
  font-weight: bold;
  font-size: 50px;
}

.offers {
  display: flex;
}

.special p {
  margin-top: 5px;
  line-height: 1.5em;
}
.right-side .wel {
  margin-left: 10px;
  font-size: large;
}
.offers .spe {
  color: green;
  font-size: 15px;
}

hr {
  margin-top: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
}
